In [3]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [11]:
doc = pd.read_excel("C:/Users/STAFF/Desktop/Git_Repos/Telco_customer_churn.xlsx")
doc.sample(5)

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
3004,5071-FBJFS,1,United States,California,Redding,96001,"40.587919, -122.464732",40.587919,-122.464732,Female,...,Month-to-month,No,Electronic check,50.30,217.1,No,0,73,3147,NaN
3027,3070-FNFZQ,1,United States,California,Happy Camp,96039,"41.831901, -123.487478",41.831901,-123.487478,Female,...,Two year,No,Bank transfer (automatic),20.40,478.75,No,0,33,4698,NaN
80,2321-OMBXY,1,United States,California,Carlsbad,92009,"33.098018, -117.258203",33.098018,-117.258203,Female,...,One year,No,Credit card (automatic),80.30,3058.65,Yes,1,81,2071,Limited range of services
4606,3724-BSCVH,1,United States,California,Mecca,92254,"33.543835, -115.993906",33.543835,-115.993906,Male,...,One year,No,Mailed check,20.45,242.4,No,0,54,4613,NaN
5544,5236-XMZJY,1,United States,California,Los Angeles,90031,"34.085807, -118.206617",34.085807,-118.206617,Female,...,Month-to-month,No,Bank transfer (automatic),59.65,2536.55,No,0,80,3048,NaN

In [23]:
doc.drop(columns =["Count","Churn Reason","Churn Label","Churn Score"], inplace = True)
doc.dtypes

Country               object
State                 object
City                  object
Zip Code               int64
Lat Long              object
Latitude             float64
Longitude            float64
Gender                object
Senior Citizen        object
Partner               object
Dependents            object
Tenure Months          int64
Phone Service         object
Multiple Lines        object
Internet Service      object
Online Security       object
Online Backup         object
Device Protection     object
Tech Support          object
Streaming TV          object
Streaming Movies      object
Contract              object
Paperless Billing     object
Payment Method        object
Monthly Charges      float64
Total Charges         object
Churn Value            int64
CLTV                   int64
dtype: object