In [94]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [95]:
doc = pd.read_excel("C:/Users/STAFF/Desktop/Git_Repos/Telco_customer_churn.xlsx")
doc.sample(5)

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
2357,5845-BZZIB,1,United States,California,Frazier Park,93222,"34.907911, -119.234281",34.907911,-119.234281,Male,...,Two year,No,Mailed check,20.10,655.3,No,0,65,4517,NaN
1995,2907-ILJBN,1,United States,California,Duarte,91010,"34.145695, -117.95982",34.145695,-117.959820,Female,...,One year,No,Mailed check,20.60,233.9,No,0,29,4047,NaN
3426,5793-YOLJN,1,United States,California,Oro Grande,92368,"34.647959, -117.296957",34.647959,-117.296957,Female,...,Two year,No,Mailed check,21.00,1210.3,No,0,24,5046,NaN
2710,0774-IFUVM,1,United States,California,Stockton,95202,"37.959706, -121.287669",37.959706,-121.287669,Male,...,Month-to-month,Yes,Bank transfer (automatic),65.15,723.35,No,0,42,5942,NaN
3242,9575-IWCAZ,1,United States,California,Valencia,91354,"34.457005, -118.573726",34.457005,-118.573726,Male,...,One year,No,Mailed check,25.10,171,No,0,31,5161,NaN

In [96]:
doc.drop(columns =["Count","Churn Reason","Churn Label","Churn Score","Lat Long"], inplace = True)

In [97]:
doc.shape

(7043, 28)

In [98]:
doc = doc.dropna()
doc.shape

(7043, 28)

In [99]:
doc = doc[doc["Total Charges"] != " "]
doc.shape

(7032, 28)

In [100]:
doc["Total Charges"] = pd.to_numeric(doc["Total Charges"])

In [101]:
doc.dtypes

CustomerID            object
Country               object
State                 object
City                  object
Zip Code               int64
Latitude             float64
Longitude            float64
Gender                object
Senior Citizen        object
Partner               object
Dependents            object
Tenure Months          int64
Phone Service         object
Multiple Lines        object
Internet Service      object
Online Security       object
Online Backup         object
Device Protection     object
Tech Support          object
Streaming TV          object
Streaming Movies      object
Contract              object
Paperless Billing     object
Payment Method        object
Monthly Charges      float64
Total Charges        float64
Churn Value            int64
CLTV                   int64
dtype: object

In [103]:
def values_in_each_col(dataframe):
    for i in dataframe:
        if dataframe[i].dtypes == "object":
            print(f"{i} : {dataframe[i].unique()}")

In [105]:
values_in_each_col(doc)

CustomerID : ['3668-QPYBK' '9237-HQITU' '9305-CDSKC' ... '2234-XADUH' '4801-JZAZL'
 '3186-AJIEK']
Country : ['United States']
State : ['California']
City : ['Los Angeles' 'Beverly Hills' 'Huntington Park' ... 'Tulelake'
 'Olympic Valley' 'Redcrest']
Gender : ['Male' 'Female']
Senior Citizen : ['No' 'Yes']
Partner : ['No' 'Yes']
Dependents : ['No' 'Yes']
Phone Service : ['Yes' 'No']
Multiple Lines : ['No' 'Yes' 'No phone service']
Internet Service : ['DSL' 'Fiber optic' 'No']
Online Security : ['Yes' 'No' 'No internet service']
Online Backup : ['Yes' 'No' 'No internet service']
Device Protection : ['No' 'Yes' 'No internet service']
Tech Support : ['No' 'Yes' 'No internet service']
Streaming TV : ['No' 'Yes' 'No internet service']
Streaming Movies : ['No' 'Yes' 'No internet service']
Contract : ['Month-to-month' 'Two year' 'One year']
Paperless Billing : ['Yes' 'No']
Payment Method : ['Mailed check' 'Electronic check' 'Bank transfer (automatic)'
 'Credit card (automatic)']

In [106]:
doc.replace("No internet service" , "No", inplace = True)
doc.replace("No phone service" , "No", inplace = True)

In [107]:
values_in_each_col(doc)

CustomerID : ['3668-QPYBK' '9237-HQITU' '9305-CDSKC' ... '2234-XADUH' '4801-JZAZL'
 '3186-AJIEK']
Country : ['United States']
State : ['California']
City : ['Los Angeles' 'Beverly Hills' 'Huntington Park' ... 'Tulelake'
 'Olympic Valley' 'Redcrest']
Gender : ['Male' 'Female']
Senior Citizen : ['No' 'Yes']
Partner : ['No' 'Yes']
Dependents : ['No' 'Yes']
Phone Service : ['Yes' 'No']
Multiple Lines : ['No' 'Yes']
Internet Service : ['DSL' 'Fiber optic' 'No']
Online Security : ['Yes' 'No']
Online Backup : ['Yes' 'No']
Device Protection : ['No' 'Yes']
Tech Support : ['No' 'Yes']
Streaming TV : ['No' 'Yes']
Streaming Movies : ['No' 'Yes']
Contract : ['Month-to-month' 'Two year' 'One year']
Paperless Billing : ['Yes' 'No']
Payment Method : ['Mailed check' 'Electronic check' 'Bank transfer (automatic)'
 'Credit card (automatic)']

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

for i in doc:
    if doc[i].dtypes == "object":
         doc[i] = encoder.fit_transform(doc[i])

In [ ]:
from sklearn.preprocessing import MinMaxScaler
minmax = MinMaxScaler()

doc = minmax.fit_transform(doc)

In [ ]:
X = doc.drop("Churn Value", axis= "columns")
y= doc["Churn Value"]

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_rem, y_train, y_rem = train_test_split(X, y, train_size= 0.70, random_state=None)
X_valid, X_test, y_valid, y_test = train_test_split(X_rem, y_rem, test_size=0.5)

X_train.shape

In [ ]:
import tensorflow
from tensorflow import keras

model = keras.Sequential([
    keras.layers.Dense(27, input_shape = (27), activation = "relu")
    keras.layers.Dense(1, activation = "sigmoid")
])

model.compile(optimizer = "adam", loss = "binary_crossentropy", metrics = ["accuracy"])

model.fit(X_train, y_train)

In [ ]:
model_output = model.predict(X_test)